[Desktop Entry]
Version=0.0.1
Comment=A REST client with grand ambitions and limited scope.
Exec=woke
GenericName=REST Client
Icon=
Name=Woke
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;Qt;REST;Productivity
