# LLVM style with 4 space width
BasedOnStyle: LLVM
IndentWidth: 4

# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left

BracketAlignmentStyle: ContinuationIndentWidth
